* {
    // Color
    --font-size: 16px;
    --main-color: #fcdb5a;
    --dark-color: #333;
    --dark-color-extra: #666666;
    --white-color: #fff;
    --grey-color: #b3b3b3;
    --button-color: #4f4a37;
    --testimonials-slider-color: #696248;
    --hover-gallery-color: #4d5e90;
    --sell-banner-color: #f1f1f1;
    --mobile-menu-color: #24292c;
    // Font
    --main-font: 'Open Sans', sans-serif;
    --extra-font: 'Raleway', sans-serif;
    --custom-font: 'Brusher', sans-serif;
    --testimonials-slider-font: 'Times new roman', serif;
}